.navigation {
  border-bottom: 1px solid #484949;
}

mark {
  margin: 0;
  padding: 0;
  background: #015b97;
  color: white;
}

.result-not-found {
  font-size: 28px;
  color: #656666;
  margin: 4em auto;
  border-radius: 3px;
  padding: 3em;
  -webkit-box-shadow: 0 5px 5px #777;
  -moz-box-shadow: 0 5px 5px #777;
  box-shadow: 0 5px 5px #777;
  h4 {
    color: #004985;
    font-weight: lighter;
  }
}

.cards-section-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .cards-container {
    border: 0.5px solid #cecece;
    width: 220px;
    height: 300px;
    margin: 3em;
  }
}

.single-card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .names {
    padding: 1em;
    height: 280px;
    overflow: auto;

    .real-name {
      font-size: 1.5em;
      color: #535353;
    }

    .title {
      font-size: 1.2em;
      color: #535353;
      text-align: left;
      text-transform: capitalize;
    }

    .username {
      font-size: 1em;
      font-weight: lighter;
      font-style: italic;
      color: #707070;
    }
    .body {
      font-size: 1em;
      font-weight: lighter;
      line-height: 1.5;
      color: #707070;
      text-align: left;
    }
  }
}

.avatar img {
  margin-top: 2em;
  width: 100px;
  height: 100px;
  border-top: 1px solid #0685b8;
  border-bottom: 1px solid #0685b8;
  border-radius: 100px;
  padding: 4px;
}